/* 헤더 */
.gnb{
    font-size:var(--font-size-headline-s);
    display: flex;
    height:100px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
}

.right-gnb{
    display: flex;
    font-family: var(--font-over);
    font-weight: var(--font-weight-bold);
}

.right-gnb li{
    padding-right:6.8rem;
}

.right-gnb li:last-child{
    padding-right:0;
}

/* 메인이미지 */
.mainimg{
    background-image: url(../img/mainbg.png);
    width:100%;
    height:100vh;
    position: relative;
}

.mainimg::before{
    content: '';
    background-image: url(../img/leftDESIIEGER.png);
    width:100px;
    height:1000px;
    background-repeat: no-repeat;
    position:absolute;
    left:-1%;
}

/* 이메일버튼 */
.con-email{
    border:2px solid;
    width:33.3rem;
    height:6.1rem;
    font-size:var(--font-size-headline-l);
    line-height:5.5rem;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: var(--font-weight-bold);
    padding:0 25px;
    float:right;
    transition: all 1s;
}

.con-email:hover{
    background-color:#D1D3FF;
    scale: 1.1;
}

.con-email img{
    padding-right:1rem;
}

/* 메인나타내는 글 */
.mainfont{
    text-align:center;
    padding-top:17.4rem;
    font-family: var(--font-family-bochan);
}

.mainfont h2{
    font-size:var(--font-size-headline-xxxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.smalltext{
  
  font-size:var(--font-size-headline-ssl);
  width:16.4rem;
  top:20px;
  text-align: center;
}

.mainfont h2::after{
    content: '';
    background-image:url(../img/copyrightmark.png);
    background-repeat: no-repeat;
    width: 54px;
    height:100%;
    position:absolute;
    top:0;
    right:15%;
    
}

path {
  stroke-dasharray: 1020;
  stroke-dashoffset: 1020;
  animation: path 3s forwards infinite;
  /*animation-delay: -2s; 애니메이션 지속 시간을 5초로 수정했습니다. */
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}

.mainfont h3{
    font-size:var(--font-size-headline-xxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.mainfontstar {
  background-image: url(../img/achieve.png);
  width:112.4rem;
  height:14.7rem;
  position:relative;
  top:0;
  left:20%;
}
.mainfontstar::before{
    content: '';
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    width: 200px;
    height:100%;
    position:absolute;
    top:5%;
    left:-10%;
    transform: translate(-50%,0);
    display: flex;
}

.first::before{
  content: '';
  /* background-image: url(../img/mainsujeongname.png); */
  background-repeat: no-repeat;
  width: 200px;
  height:100%;
  position:absolute;
  bottom:-108%;
  left:31.7%;
}


/* .mainfontstar::after{
    content: '';
    background-image: url(../img/archivestar.png);
    background-repeat: no-repeat;
    width: 250px;
    height:100px;
    position:absolute;
    top:10%;
    right:11%;
} */
/* 화살표 */
.pigarrow{
    position: relative;
}
.content1{
  position:absolute;
  top:11%;
  right:7%;
}


/* 하단글 */
.bottomtext{
    padding-top:100px;
    font-size:var(--font-size-headline-l);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap:10rem;
    justify-content: space-between;
}

.bottomtext span{
    width:75.3rem;
    background-color: #000;
    height:1px;
    display: block;
}

/* 흐르는 텍스트 */
.flowtape{
    background-color: #9999FF;
    height:100px;
    overflow: hidden;
    width:100%;
    position: relative;
    max-width:100%;
    
}

.flowtape >p{
    font-size:var(--font-size-headline-sxl);
    line-height:100px;
    font-weight: var(--font-weight-bold);
    animation:flow 50s linear infinite;
    color:#ffffff;
    animation-delay: -15s;
    display: block; 
    position: absolute; 
    /* width:1600px; */
    white-space: nowrap;
    font-family: var(--font-over);
    letter-spacing: 3px;
  }


@keyframes flow {
    from { transform: translateX(0%);}
    to { transform: translateX(-50%);}
}
 
  /* 프로필 */
  .profile{
   background-image: url(../img/profilebg.png);
    width:1680px;
    height:1020px;
    background-color: #fff;
    margin: 0 auto;
    margin-top:10rem;
    border-radius:30px;
    box-shadow:3px 3px 10px rgba(0,0,0,20%);
    position:relative;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .my{
    font-size:var(--font-size-headline-l);
    padding-left:50rem;
    padding-top:20rem;
    
  }

  .my >h5:first-child{
    font-size:var(--font-size-headline-s);
    padding-bottom:1rem;
  }

  .my >h6{
    font-size:var(--font-size-headline-xl);
    font-family: var(--font-family-bochan);
    border-bottom:1px solid ;
    padding-bottom:2rem;
  }

  .mywrap{
    display: flex;
    gap:30rem;
    margin-top:4rem;
  }
  
  .left-writter > strong, .right-writter > strong{
    font-family: var(--font-family-bochan);
    font-size:var(--font-size-headline-s);
    margin-bottom:10rem;
    margin-top:1rem;
  }

  .w-small{
    font-size:var(--font-size-headline-s);
    margin-bottom:4rem;
    
  }
 
  .skillimg > img{
    margin-bottom:2rem;
    margin-right:2rem;
  }

  /* 웹작업내용 */
  .weball{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
  }
  .projectall{
    height:622px;
    transition: all 0.5s;
    position: relative;
  }

  .projectcontent{
    width:52rem;
    height:518px;
    background-color: #f5f5f5;
    /* position: relative; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }


  .web1::after{
    content:'';
    background-image: url(../img/museumthum2.png);
    width:45.5rem;
    height:46.7rem;
  }

  .web2::after{
    content:'';
    background-image: url(../img/centerthum2.png);
    width:44.6rem;
    height:29.6rem;
    left:-1rem;
  }

  .web3::after{
    content:'';
    background-image: url(../img/lucidthum2.png);
    width:45.5rem;
    height:46.7rem;
  }

  

/* 웹 프로젝트 이름 */
  .name{
    width:52rem;
    height:112px;
    background-color: #9999FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

h4{
    margin-top:13rem;
    font-size:var(--font-size-headline-xxl);
    font-family: var(--font-family-bochan);
    text-transform: capitalize;
    border-bottom:2px solid;
    padding-bottom:3rem;
}

/* 전체 래디우스(전체 곡선주기) */
.projectall:hover div{
    border-radius: 60px;
    
}

.projectall:hover .w-btn{
    display:contents;
    /* width:50%;
    height:60px; */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius:30rem;
    margin-bottom:2rem;
    color:#ffffff;
    position: absolute;
    top:30%;
    gap:20rem;
    background-color: #9999FF;
    font-size:var(--font-size-title-l);
    font-weight: var(--font-weight-bold);
}



.w-btn{
    width:60%;
    height:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    
    border-radius:30rem;
    margin-bottom:2rem;
    color:#ffffff;
    background-color: #ffffff;
    display: none;
    
}

.w-btn:last-child{
  margin-top: 10rem;
}

.name >p{
    display: flex;
    text-align: center;
}

.name >p:first-child{
    font-size:var(--font-size-title-s);
}

.name >p:last-child{
    font-size:var(--font-size-headline-m);
}

/* 3d & uiux작업 */

.ui1::after{
  content:'';
  background-image: url(../img/cineqthum2.png);
  width:45.5rem;
  height:46.7rem;
}

.ui2::after{
  
}

.ui3::after{
  content:'';
  background-image: url(../img/coffeethum1.png);
  width:37.1rem;
  height:37.7rem;
}

  
/* 푸터 */
/* 푸터 */
footer{
  width:100%;
  position: relative;
 
  margin-top:80px;
  text-align: center;
}
.user{
  width:150rem;
  height:10rem;
  background-color: #9999FF;
  margin: 0 auto;
  line-height: 10rem;
  border-radius: 50px;
  margin-bottom:20px;
}
footer .margin{
  padding-bottom:61px;
  font-size:15px;
}
.address{
  font-size:15px;
  margin-bottom:15px;
}

footer .stroke{
  border: 0.5px solid #ECE9F1;
  opacity: 30%;
  margin-bottom:38px;
}