/* 헤더 */
.gnb{
    font-size:var(--font-size-headline-s);
    display: flex;
    height:100px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
}

.right-gnb{
    display: flex;
    font-family: var(--font-over);
    font-weight: var(--font-weight-bold);
}

.right-gnb li{
    padding-right:6.8rem;
}

.right-gnb li:last-child{
    padding-right:0;
}

/* 메인이미지 */
.mainimg{
    background-image: url(../img/mainbg.png);
    width:100%;
    height:100vh;
    position: relative;
}

.mainimg::before{
    content: '';
    background-image: url(../img/leftDESIIEGER.png);
    width:800px;
    height:1000px;
    background-repeat: no-repeat;
    position:absolute;
    left:-1%;
}

/* 이메일버튼 */
.con-email{
    border:2px solid;
    width:33.3rem;
    height:6.1rem;
    font-size:var(--font-size-headline-l);
    line-height:5.5rem;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: var(--font-weight-bold);
    padding:0 25px;
    float:right;
}

.con-email:hover{
    background-color:#D1D3FF;
    transition: all 1s;
    scale: 1.1;
}

.con-email img{
    padding-right:1rem;
}

/* 메인나타내는 글 */
.mainfont{
    text-align:center;
    padding-top:17.4rem;
    font-family: var(--font-family-bochan);
}

.mainfont h2{
    font-size:var(--font-size-headline-xxxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.mainfont h2::after{
    content: '';
    background-image:url(../img/copyrightmark.png);
    background-repeat: no-repeat;
    width: 54px;
    height:100%;
    position:absolute;
    top:0;
    right:15%;
    
}

.mainfont h3{
    font-size:var(--font-size-headline-xxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.mainfontstar::before{
    content: '';
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    width: 470px;
    height:100%;
    position:absolute;
    top:5%;
    left:14%;
}

.mainfontstar::after{
    content: '';
    background-image: url(../img/archivestar.png);
    background-repeat: no-repeat;
    width: 250px;
    height:100px;
    position:absolute;
    top:10%;
    right:11%;
}
/* 화살표 */
.pigarrow{
    position: relative;
}

.pigarrow::after{
    content:'';
    background-image: url(../img/figarrow.png);
    background-repeat: no-repeat;
    width: 500px;
    height:500px;
    position:absolute;
    bottom:24%;
    right:0;
}

/* 하단글 */
.bottomtext{
    padding-top:100px;
    font-size:var(--font-size-headline-l);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap:10rem;
    justify-content: space-between;
}

.bottomtext span{
    width:75.3rem;
    background-color: #000;
    height:1px;
    display: block;
}

/* 흐르는 텍스트 */
.flowtape{
    background-color: #9999FF;
    height:100px;
    overflow: hidden;
    width:100%;
    position: relative;
    max-width:100%;
    
}

.flowtape >p{
    font-size:var(--font-size-headline-sxl);
    line-height:100px;
    font-weight: var(--font-weight-bold);
    animation:flow 50s linear infinite;
    color:#ffffff;
    animation-delay: -15s;
    display: block; 
    position: absolute; 
    /* width:1600px; */
    white-space: nowrap;
    font-family: var(--font-over);
    letter-spacing: 3px;
  }


@keyframes flow {
    from { transform: translateX(0%);}
    to { transform: translateX(-50%);}
}
 
  /* 프로필 */
  .profile{
   background-image: url(../img/profilebg.png);
    width:1680px;
    height:1020px;
    background-color: #fff;
    margin: 0 auto;
    margin-top:10rem;
    border-radius:30px;
    box-shadow:3px 3px 10px rgba(0,0,0,20%);
    position:relative;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .my{
    font-size:var(--font-size-headline-l);
    padding-left:50rem;
    padding-top:10rem;
  }

  .my p:first-child{
    font-size:var(--font-size-headline-s);
  }

  .my p:last-child{
    font-size:var(--font-size-headline-xl);
  }

  .my p:last-child::after{
    content: '';
    width:80rem;
    background-color: #000;
    height:1px;
    position:absolute;
    top:20%;
    left:30%;
  }


  /* 웹작업내용 */
  .weball{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
  }
  .projectall{
    height:622px;
  }

  .webproject{
    width:52rem;
    height:518px;
    background-color: #000;
    /* position: relative; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

/* 웹 프로젝트 이름 */
  .name{
    width:52rem;
    height:112px;
    background-color: #9999FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

h4{
    margin-top:13rem;
    font-size:var(--font-size-headline-xxl);
    font-family: var(--font-family-bochan);
    text-transform: capitalize;
    border-bottom:2px solid;
    padding-bottom:3rem;
}

/* 전체 래디우스(전체 곡선주기) */
.projectall:hover div{
    border-radius: 10rem;
    transition: all 0.5s;
}

.projectall:hover .w-btn{
    display:contents;
    width:50%;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border:1px solid #ffffff;
    border-radius:30rem;
    margin-bottom:2rem;
    color:#ffffff;
}

.w-btn{
    width:50%;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    border:1px solid #ffffff;
    border-radius:30rem;
    margin-bottom:2rem;
    color:#ffffff;
    display: none;
}

.name >p{
    display: flex;
    text-align: center;
}

.name >p:first-child{
    font-size:var(--font-size-title-s);
}

.name >p:last-child{
    font-size:var(--font-size-headline-m);
}



  
