/* 헤더 */
.gnb{
    font-size:var(--font-size-headline-s);
    display: flex;
    height:100px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
}

.right-gnb{
    display: flex;
    font-family: var(--font-over);
    font-weight: var(--font-weight-bold);
}

.right-gnb li{
    padding-right:6.8rem;
}

.right-gnb li:last-child{
    padding-right:0;
}

/* 메인이미지 */
.mainimg{
    background-image: url(../img/mainbg.png);
    width:100%;
    height:100vh;
    position: relative;
}

.mainimg::before{
    content: '';
    background-image: url(../img/leftDESIIEGER.png);
    width:800px;
    height:1000px;
    background-repeat: no-repeat;
    position:absolute;
    left:-1%;
}
.con-email{
    border:2px solid;
    width:33.3rem;
    height:6.1rem;
    font-size:var(--font-size-headline-l);
    line-height:5.5rem;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: var(--font-weight-bold);
    padding:0 25px;
    float:right;
}

.con-email:hover{
    background-color:#D1D3FF;
    transition: all 1s;
    
}

.con-email img{
    padding-right:1rem;
}

.mainfont{
    text-align:center;
    padding-top:17.4rem;
    font-family: var(--font-family-bochan);
}

.mainfont h2{
    font-size:var(--font-size-headline-xxxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.mainfont h2::after{
    content: '';
    background-image:url(../img/copyrightmark.png);
    background-repeat: no-repeat;
    width: 54px;
    height:100%;
    position:absolute;
    top:0;
    right:15%;
    
}

.mainfont h3{
    font-size:var(--font-size-headline-xxxl);
    padding-bottom:1.6rem;
    position: relative;
}

.mainfontstar::before{
    content: '';
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    width: 470px;
    height:100%;
    position:absolute;
    top:5%;
    left:13%;
}

.mainfontstar::after{
    content: '';
    background-image: url(../img/archivestar.png);
    background-repeat: no-repeat;
    width: 250px;
    height:100px;
    position:absolute;
    top:10%;
    right:11%;
}
.pigarrow{
    position: relative;
}
.pigarrow::after{
    content:'';
    background-image: url(../img/figarrow.png);
    background-repeat: no-repeat;
    width: 500px;
    height:500px;
    position:absolute;
    bottom:24%;
    right:0;
}

.bottomtext{
    padding-top:100px;
    font-size:var(--font-size-headline-l);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap:10rem;
    justify-content: space-between;
}

.bottomtext span{
    width:75.3rem;
    background-color: #000;
    height:1px;
    display: block;
}

/* 흐르는 텍스트 */
.flowtape{
    background-color: #9999FF;
    height:142px;
}

.flowtape p{
    font-size:var(--font-size-headline-xl);
    line-height:142px;
    text-align: center;
    font-weight: var(--font-weight-bold);
    animation-name: flow;
    animation-duration:2s;
    animation-iteration-count:infinite;
    
  }
  
  @keyframes flow {
    0% {
      left:-500px;
    }
    100% {
      left:300px;
    }
  }
 
  .profiledetail{
   background-image: url(../img/profilebg.png);
    width:1680px;
    height:1020px;
    background-color: #fff;
    margin: 0 auto;
    margin-top:10rem;
    border-radius:30px;
    box-shadow:3px 3px 10px rgba(0,0,0,20%);
    position:relative;
    z-index: -99;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .my{
    font-size:var(--font-size-headline-l);
    padding-left:50rem;
    padding-top:10rem;
  }

  .my p:first-child{
    font-size:var(--font-size-headline-s);
  }

  .my p:last-child{
    font-size:var(--font-size-headline-xl);
  }

  .my p:last-child::after{
    content: '';
    width:80rem;
    background-color: #000;
    height:1px;
    position:absolute;
    top:20%;
    left:30%;
  }


  
